.preloader {
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: 999;
   background-color: $white-color;
}

.preloader-inner {
   text-align: center;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   line-height: 1;

   img {
      width: 80px;
      animation: preloader-pulse 1s ease-in-out infinite alternate;
   }
}

@keyframes preloader-pulse {
   0% {
      opacity: 0.4;
      transform: scale(0.92);
   }
   100% {
      opacity: 1;
      transform: scale(1);
   }
}
